@model IEnumerable<NarraItems.Models.Employee>

@using Na

@{
    ViewBag.Title = "Employee List";
}
<div style="font-family:Arial">
    <h2>Index</h2>
    <ul>
        @foreach(Employee employee in @Model)
        {

        }

    </ul>
</div>